{% if object_list %}
<section class="carousel">
    <div class="reel">

        {% for object in object_list %}
            <article>
                {# <a href="#" class="image featured"> #}
                    <img src="{{ object.photo.url }}" alt="{{ object.title }}" />
                {# </a> #}
                <header>
                    <h3><a href="#">{{ object.title }}</a></h3>
                </header>
                <p>{{ object.description }}</p>                           
            </article>
        {% endfor %}

    </div>
</section>
{% endif %}
