{% extends 'base_site.html' %}

{% block title %}Контакты {{ block.super }}{% endblock %}

{% block nav %}
    {% with 'contacts' as location %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
        <!-- Main -->

            <div id="main" class="wrapper style1">
                <div class="container">
                    <article class="special">
                        <header>
                            <h2>{{ contacts_page.title }}</h2>
                        </header>
                        {{ contacts_page.content|safe }}
                    </article>

                <iframe
                    src="https://www.google.com/maps/d/u/0/embed?mid=zyp8njB4G3Jo.klKS1aqCnC90"
                    width="100%" height="640" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

            </div>

{% endblock %}
