# Local settings

# Turn debug mode on
DEBUG = True
TEMPLATE_DEBUG = True

# Database connection
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'mywed',
        'USER': 'mywed',
        'PASSWORD': '80umkzft',
        'HOST': '127.0.0.1',
    }
}
