<div class="container">
    <div class="banner-navigation">
        <div class="logo">
            <a href="{% url 'index' %}"><h1>Наш <span>День</span></h1></a>
        </div>

    <span class="menu"></span>

    <div class="top-menu">

        <ul class="nav">
            <li class="hvr-sweep-to-bottom{% ifequal location 'index' %} cap{% endifequal %}"><a href="{% url 'index' %}">Главная</a></li>
            <li class="hvr-sweep-to-bottom{% ifequal location 'news' %} cap{% endifequal %}"><a href="{% url 'news' %}">Новости</a></li>
            <li class="hvr-sweep-to-bottom{% ifequal location 'gallery' %} cap{% endifequal %}"><a href="{% url 'gallery' %}">Галерея</a></li>
            <li class="hvr-sweep-to-bottom{% ifequal location 'contacts' %} cap{% endifequal %}"><a href="{% url 'contacts' %}">Контакты</a></li>
        </ul>

        <div class="clearfix"></div>
    </div>

<!--script-for-menu-->
    <script>
        $("span.menu").click(function(){
            $(".top-menu ul").slideToggle("slow" , function(){
            });
        });
    </script>
<!--script-for-menu-->

        <div class="clearfix"></div>

    </div>
</div>
