{% extends 'base.html' %}

{% block title %}Главная {{ block.super }}{% endblock %}

{% block base_content %}

<div class="banner two">

{% with 'contacts' as location %}
    {% include '_menu.html' %}
{% endwith %}

<!--/contact-section-->
</div>

<div class="contact">
    <div class="container">

    {{ contacts_page.content|safe }}

{% comment %}
                <form>
                <input type="text" class="textbox" value=" Your Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name';}">
                <input type="text" class="textbox" value="Your E-Mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your E-Mail';}">
                    <div class="clear"> </div>
                <div>
                    <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Message ';}">Your Message</textarea>
                </div>  
               <div class="submit"> 
                    <input type="submit" value="SEND " />
              </div>
            </form>
        </div>
{% endcomment %}

        <iframe
            src="https://www.google.com/maps/d/u/0/embed?mid=zyp8njB4G3Jo.klKS1aqCnC90"
            width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>  
    </div>  

{% endblock %}
