{% extends 'base.html' %}

{% block title %}Главная {{ block.super }}{% endblock %}

{% block base_content %}

<div class="banner two">

{% with 'contacts' as location %}
    {% include '_menu.html' %}
{% endwith %}

<!--/contact-section-->
</div>

<div class="contact">
    <div class="container">
        <h3>Связаться с нами</h3>

        <div class="contact-content">
            <ul class="contact-grids">

                <li class="contact-grid">
                    <a href="mailto:we@olya-maks.ru">
                        <i class="icon12"> </i>
                        <h4>Почта</h4>
                        <h5>we@olya-maks.ru</h5>
                    </a>
                </li>

                <li class="contact-grid phone">
                    <a href="tel:79788047882">
                        <i class="icon11"> </i>
                        <h4>Максим</h4>
                        <h5>+7 (978) 804 78 82</h5>
                    </a>
                </li>


                <li class="contact-grid phone">
                    <a href="tel:79175021930">
                        <i class="icon11"> </i>
                        <h4>Максим</h4>
                        <h5>+7 (917) 502 19 30</h5>
                    </a>
                </li>

                <li class="contact-grid phone">
                    <a href="tel:79161994849">
                        <i class="icon11"> </i>
                        <h4>Оля</h4>
                        <h5>+7 (916) 199 84 49</h5>
                    </a>
                </li>


{% comment %}
    <li class="contact-grid">
        <i class="icon13"> </i>
        <h4>Twitter</h4>
        <h5>@Twitter</h5>
    </li>
    <li class="contact-grid fb">
        <i class="icon14"> </i>
        <h4>Facebook</h4>
        <h5>My.Example</h5>
    </li>
{% endcomment %}

                <div class="clearfix"> </div>
            </ul>

{% comment %}
                <form>
                <input type="text" class="textbox" value=" Your Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name';}">
                <input type="text" class="textbox" value="Your E-Mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your E-Mail';}">
                    <div class="clear"> </div>
                <div>
                    <textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Message ';}">Your Message</textarea>
                </div>  
               <div class="submit"> 
                    <input type="submit" value="SEND " />
              </div>
            </form>
        </div>
{% endcomment %}

        <iframe
            src="https://www.google.com/maps/d/u/0/embed?mid=zyp8njB4G3Jo.klKS1aqCnC90"
            width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>  
    </div>  

{% endblock %}
