{% extends 'base.html' %}

{% block title %}Галерея {{ block.super }}{% endblock %}

{% block base_content %}

<div class="banner two">

{% with 'gallery' as location %}
    {% include '_menu.html' %}
{% endwith %}

</div>

<div class="gallery">
    <div class="container">

    <div class="row">
        {# <div class="span12"> #}
            {# <div id="main" role="main"> #}

{# sssssssssssssssssssssssssssssssssssssssssssssssssssssssssss #}
            <ul id="" class="unstyled">
            {% for i in '123123123123123123' %}
            <li>
                <div>
                    <div class="post-home">
                        <div class="view view-first">
                            <a href="http://bragthemes.com/demo/pinstrap/files/2012/10/clown.jpeg" title="Clown">
                                <img width="220" height="255" src="http://bragthemes.com/demo/pinstrap/files/2012/10/clown-220x255.jpeg" class="attachment-hp-thumb wp-post-image" alt="clown" />
                            </a>
                            <div class="mask">
                                <h2>Clown</h2>
                                <p class="link-btn">
                                    <a href="http://bragthemes.com/demo/pinstrap/clown/" rel="bookmark" title="Permanent Link to Clown">
                                        <i class="icon-link"></i></a>
                                    <a href="http://bragthemes.com/demo/pinstrap/files/2012/10/clown.jpeg" title="Clown" rel="colorbox">
                                        <i class="icon-zoom-in"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div id="post-259">
                    <div class="post-home">
                        <div class="view view-first">
                            <a href="http://bragthemes.com/demo/pinstrap/files/2012/10/white-house.jpeg" title="White House">
                                <img width="220" height="267" src="http://bragthemes.com/demo/pinstrap/files/2012/10/white-house-220x267.jpeg" class="attachment-hp-thumb wp-post-image" alt="white-house" />
                            </a>
                            <div class="mask">
                                <h2>White House</h2>
                                <p class="link-btn">
                                    <a href="http://bragthemes.com/demo/pinstrap/white-house/" rel="bookmark" title="Permanent Link to White House">
                                        <i class="icon-link"></i></a>
                                    <a href="http://bragthemes.com/demo/pinstrap/files/2012/10/white-house.jpeg" title="White House" rel="colorbox">
                                        <i class=" icon-zoom-in"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        
            <li>
                <div id="post-256">
                    <div class="post-home">
                        <div class="view view-first">
                            <a href="http://bragthemes.com/demo/pinstrap/files/2012/10/red-rolls.jpeg" title="Red Rolls">
                                <img width="220" height="148" src="http://bragthemes.com/demo/pinstrap/files/2012/10/red-rolls-220x148.jpeg" class="attachment-hp-thumb wp-post-image" alt="red-rolls" />
                            </a>
                            <div class="mask">
                                <h2>Red Rolls</h2>
                                <p class="link-btn">
                                    <a href="http://bragthemes.com/demo/pinstrap/red-rolls/" rel="bookmark" title="Permanent Link to Red Rolls">
                                        <i class="icon-link"></i></a>
                                    <a href="http://bragthemes.com/demo/pinstrap/files/2012/10/red-rolls.jpeg" title="Red Rolls" rel="colorbox">
                                        <i class=" icon-zoom-in"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
{# sssssssssssssssssssssssssssssssssssssssss #}

            {# </div> #}
        {# </div> #}
    </div>

        </div>  
    </div>  

{% endblock %}
