{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Галерея {{ block.super }}{% endblock %}

{% block base_content %}

<div class="banner two">

{% with 'gallery' as location %}
    {% include '_menu.html' %}
{% endwith %}

</div>

<div class="gallery">
    <div class="container">

    <div id="gallery" style="display:none;">
        {% for image in object_list %}
            {% thumbnail image.photo "150" crop="center" as thumb %}

                <img alt="{{ image.title }}" src="{{ thumb.url }}"
                    data-image="{{ image.photo.url }}"
                    data-description="{{ image.description }}">

            {% endthumbnail %}
        {% endfor %}
    </div>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery("#gallery").unitegallery({
            gallery_theme: "tiles",
            tiles_type: "nested",
            tile_overlay_color: "#1b8fff",

            lightbox_overlay_opacity: 0.7,
            // lightbox_overlay_color: "#1b8fff",
            lightbox_textpanel_enable_title: true,
            lightbox_textpanel_enable_description: true,
        });
    });
</script>

        </div>  
    </div>  

{% endblock %}
