{% extends 'base.html' %}

{% block title %}Главная {{ block.super }}{% endblock %}

{% block base_content %}

<div class="banner">

{% with 'index' as location %}
    {% include '_menu.html' %}
{% endwith %}

{# banner slider #}
<div  id="top" class="callbacks_container">
    <ul class="rslides" id="slider4">
        <li>
            <div class="banner-info">
                <h3>Оля <lable>&amp;</lable> Максим</h3>
                    <p>суббота 9 июля, 2016</p>
            </div>
        </li>
    </ul>
</div>

<script src="{{ STATIC_URL }}js/responsiveslides.min.js"></script>
{# / banner slider #}

<script>
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 4
      $("#slider4").responsiveSlides({
        auto: true,
        pager: true,
        nav: true,
        speed: 500,
        namespace: "callbacks",
        before: function () {
          $('.events').append("<li>before event fired.</li>");
        },
        after: function () {
          $('.events').append("<li>after event fired.</li>");
        }
      });

    });
</script>

</div>

{{ index_page.content|safe }}

{% endblock %}
