{% extends 'base.html' %}

{% block title %}Главная {{ block.super }}{% endblock %}

{% block base_content %}

<div class="banner">

{% with 'index' as location %}
    {% include '_menu.html' %}
{% endwith %}

{# banner slider #}
<div  id="top" class="callbacks_container">
    <ul class="rslides" id="slider4">
        <li>
            <div class="banner-info">
                <h3>Оля <lable>&amp;</lable> Максим</h3>
                    <p>суббота 9 июля, 2016</p>
            </div>
        </li>
    </ul>
</div>
<script src="{{ STATIC_URL }}js/responsiveslides.min.js"></script>
{# / banner slider #}


<script>
    // You can also use "$(window).load(function() {"
    $(function () {
      // Slideshow 4
      $("#slider4").responsiveSlides({
        auto: true,
        pager: true,
        nav: true,
        speed: 500,
        namespace: "callbacks",
        before: function () {
          $('.events').append("<li>before event fired.</li>");
        },
        after: function () {
          $('.events').append("<li>after event fired.</li>");
        }
      });

    });
</script>

</div>


<div class="welcome-section">
    <div class="container">
        <h2>Мы рады Вас видеть!</h2>
        <p>Maecenas ornare lobortis mi id dapibus. Sed magna leo, malesuada in luctus ut, Sed magna leo, malesuada in luctus ut convallis nec sapien. Nulla rhoncus, nunc sollicitudin sodales elementum, augue nunc congue tellus, a varius urna odio vitae mauris. Aenean ultricies porttitor dui quis laoreet.</p>

        <div class="welcome-grids">
            <ul class="ch-grid">
                <li>
                    <div class="col-md-6 ch-item ch-img-1">             
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"></div>
                                    <div class="ch-info-back">
                                        <h4>Максим</h4>
                                            <h5>Скороход</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-md-6 ch-item ch-img-2">
                        <div class="ch-info-wrap">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-2"></div>
                                    <div class="ch-info-back">
                                        <h4>Оля</h4>
                                            <h5>Хвостенко</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


    <div class="story-section">
        <div class="container">
               <h3>Наша история</h3>
            <div class="story-grids">
                <div class="col-md-4 story-grid">
                     <img src="{{ STATIC_URL }}images/story1.jpg" class="img-responsive" alt="" />
                     <h4>WE' VE MET</h4>
                    <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
                </div>
                <div class="col-md-4 story-grid">
                     <img src="{{ STATIC_URL }}images/story2.jpg" class="img-responsive" alt="" />
                     <h4>FIRST DATE</h4>
                    <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
                </div>
                <div class="col-md-4 story-grid">
                     <img src="{{ STATIC_URL }}images/story3.jpg" class="img-responsive" alt="" />
                     <h4>ENGAGEMENT</h4>
                    <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
                </div>
                <div class="clearfix"></div>
           </div>
        </div>
    </div>


<div class="event-section">
    <div class="container">
        <h3>Рассписание Нашего Дня</h3>
        <div class="event-grids">
    
            <div class="col-md-4 event-grid">
                <img src="{{ STATIC_URL }}images/e1.jpg" class="img-responsive" alt="" />
                <h4>Свадебная фотосессия</h4>
                <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum dolor sit amet,…</p>
                <span class="event-date">9 июля<span class="event-year">2016</span></span>
            </div>

            <div class="col-md-4 event-grid">
                <img src="{{ STATIC_URL }}images/e2.jpg" class="img-responsive" alt="" />
                <h4>Церемония бракосочетания</h4>
                <p>Торжественная церемония регистрации нашего союза произойдет в 15:15 в Таганском отделе ЗАГС, по адресу Таганская улица, дом 44.</p>
                <span class="event-date">9 июля<span class="event-year">2016</span></span>
            </div>
    
            <div class="col-md-4 event-grid lost">
                <img src="{{ STATIC_URL }}images/e3.jpg" class="img-responsive" alt="" />
                <h4>Свадебный банкет</h4>
                <p>Наш первый семейный праздник пройдет в 16:00 в банкетном зале ресторана <НАЗВАНИЕ>, по адресу <АДРЕС>.</p>
                <span class="event-date">9 июля<span class="event-year">2016</span></span>
            </div>
 
                <div class="clearfix"></div>
 
           </div>
        </div>
    </div>

{% endblock %}
