{% extends 'base_site.html' %}

{% block title %}Главная {{ block.super }}{% endblock %}

{% block nav %}
    {% with 'index' as location %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
        <!-- Main -->

{% include 'carousel.html' %}

            <div id="main" class="wrapper style1">
                <div class="container">
                    <article class="special">
                        <header>
                            <h2>{{ index_page.title }}</h2>
                        </header>
                        {{ index_page.content|safe }}
                    </article>
                </div>
            </div>

{% endblock %}
