{% extends 'base.html' %}

{%block title %}Добро пожаловать {{ block.super }}{% endblock%}

{% block content %}
    <div id="header">
            <div class="inner">
                <header>
                    <h1>Добро пожаловать</h1>
                    <hr />
                    <p>Вход только по приглашениям</p>
                </header>
                <footer>
                    <article class="special">
                        <form action="#" method="POST" class="4u inline">
                            {% csrf_token %}
                            <ul class="inline">
                                <li>{{ form.user_key }}
                                <li><input type="submit" value="Войти" class="alt" />
                            </ul>
                            {% include 'helpers/field_error.html' with field=form.user_key %}
                        </form>
                    </article>
                </footer>
            </div>
    </div>
{% endblock %}
