{% extends 'base_site.html' %}

{% block title %}Новости {{ block.super }}{% endblock %}

{% block nav %}
    {% with 'news' as location %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}

<div class="container">

{% for news in object_list %}

    <article class="wrapper style3">
        <time datetime="{{ news.pub_date|date:'Y-m-d' }}" class="timestamp">{{ news.pub_date|date:'d E Y' }}</time>
        <h2><a href="{% url 'news_detail' news.pk %}">{{ news.title }}</a></h2>
        {# <p>{{ news.text|truncatechars:200 }}</p> #}
        <p>{{ news.text }}</p>
        {# <a href="{% url 'news_detail' news.pk %}">Читать новость <i class="fa fa-angle-right"></i></a> #}
    </article>

{% endfor %}

    {% include 'helpers/_pagination.html' %}

</div>

{% endblock %}
