<!-- Yandex.Metrika counter -->
<script type="text/javascript">
!function(e,t,a){(t[a]=t[a]||[]).push(function(){try{t.yaCounter35048175=new Ya.Metrika({id:35048175,clickmap:!0,trackLinks:!0,accurateTrackBounce:!0,webvisor:!0,ut:"noindex",params:{ip:"{{ request.META.HTTP_X_REAL_IP }}",user:"{{ request.user.username }}"}})}catch(e){}});var r=e.getElementsByTagName("script")[0],n=e.createElement("script"),c=function(){r.parentNode.insertBefore(n,r)};n.type="text/javascript",n.async=!0,n.src="https://mc.yandex.ru/metrika/watch.js","[object Opera]"==t.opera?e.addEventListener("DOMContentLoaded",c,!1):c()}(document,window,"yandex_metrika_callbacks");</script>
<noscript><div><img src="https://mc.yandex.ru/watch/35048175?ut=noindex" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
